@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    display: flex;
    flex: 1;
    background-color: white;
    height: 8vh;
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info2 {
    display: flex;
    flex: 1;
    margin: 0 0 5px 5px;
    font-size: 20px;
    color: rgb(239, 121, 152);
}

.muffin {
    display: flex;
    background-color: rgb(	255, 255, 20);
    color: aqua;
}

.mufinka {

    width: 100vw;
    height: 100vh;
    opacity: 0.8;
}