@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    overflow-x:hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 8vh;
    position: absolute;
    width: 100vw;
    user-select: none;
}

.header img {
    margin-left: 1vw;
}

.info, .phone, .koszyk, .muffin, .muffinka, .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone p {
    cursor: pointer;
    margin: 1vw;
}

.info, .phone {
    margin-left: 30vw;
}

.info2 a {
    text-decoration: none;
    color: rgb(239, 121, 152);
}

.info2 {
    display: flex;
    flex: 1;
    margin-left: 15px;
    font-size: 23px;
    color: rgb(239, 121, 152);
}

.info2:hover, .info2 a:hover {
    color: black;
    cursor: pointer;
}

.koszyk{
    margin-left: 5vw;
    height: 42px;
    width: 170px;
}

.explore, .koszyk, .button {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    font-size: 18px;
    color: black;
    cursor: pointer;
    user-select: none;
}

.muffin {
    background-image:url("header-background.jpeg");
    background-size: cover;
    background-position: center;
}

.muffinka {
    width: 100vw;
    height: 100vh;
    background-color: rgb(249, 217, 56, 0.2);
}

.welcome {
    flex-direction: column;
}

.grandma {
    font-size: 40px;
    color: white;
}

.grandma b {
    font-size: 55px;
    color: rgb(239, 121, 152);
}

.explore, .button {
    padding: 8px 9px 8px 8px;
    margin-top: 4vh;
}

.explore:hover, .koszyk:hover, .button:hover {
    background-color: rgb(239, 121, 152);
}

#up {
    display: flex;
    flex-direction: row;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    width: 25vw;
    align-items: flex-start;
    color: gray;
}

.about p, .down p {
    font-size: 4vh;
    margin-bottom: 1vh;
    color: black;
}

.about b, .down b {
    font-size: 7vh;
    color: rgb(239, 121, 152);
}

.macarons {
    width: 25vw;
    height: 25wh;
    border-style: solid;
    border-color: rgb(249, 228, 148);
    border-width: 10px;
    margin-left: 8vw;
}

.macarons img {
    width: 25vw;
    height: 25wh;
    transform: translate(30px, 30px);
    user-select: none;
}

.down {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}

.down p {
    margin-bottom: -50px;
    margin-top: -20px;
}

.search button {
    background-color: rgb(239, 121, 152);
    border-color: rgb(239, 121, 152);
    float: left;
    padding: 6px 10px;
    font-size: 17px;
    border-style: solid;
    cursor: pointer;
}

.search input {
    padding: 6px;
    font-size: 17px;
    border: none;
    font-family: 'Kaushan Script', cursive;
    width: 28vw;
}

.splide {
    margin-left: auto;
    margin-right: auto;
}

.splide__slide img {
	width: 100%;
	height: 100%;
}